# * matches any number of characters
# ? matches a single character
# [abc] matches any character in the set
# [!abc] matches any character not in the set

#Empfehlung: gitignore.io zur Generierung nutzen

*.tmp #all temporary files
my?ile.txt # matches myfile.txt and my1ile.txt
log[0-9].txt # matches log0.txt, log1.txt, ..., log9.txt